node_modules/
.env
.env.local
.npm-cache/
uploads/profiles/*
!uploads/profiles/.gitkeep
uploads/properties/*
!uploads/properties/.gitkeep
uploads/documents/*
!uploads/documents/.gitkeep
uploads/cms/*
!uploads/cms/.gitkeep
npm-debug.log*
coverage/
*.log
.DS_Store
